<link rel="stylesheet" href="/styles/footer.css">


<footer class="footer text-light py-4">
    <div class="container">
      <div class="row pt-4 ">
        <div class="col-md-3 mb-3">
          <img class="rounded imgfooter" src="/images/JAZ-PERFUME.jpg" alt="">
          <h5 class="fs-5 pt-1">PERFUMES</h5>
          <p class="fs-6 fw-light">We offer only the finest perfumes crafted by renowned artisans, ensuring a lasting impression.</p>
        </div>
        <div class="col-md-3 mb-3">
          <h5 class="text-uppercase text-white">Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-decoration-none text-light fw-light">Home</a></li>
            <li><a href="#" class="text-decoration-none text-light fw-light">Categories</a></li>
            <li><a href="#" class="text-decoration-none text-light fw-light">Return, Refund Or Cancellation</a></li>
            <li><a href="#" class="text-decoration-none text-light fw-light">Order Tracking</a></li>
            <li><a href="#" class="text-decoration-none text-light fw-light">About Us</a></li>
            <li><a href="#" class="text-decoration-none text-light fw-light">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-2 mb-3">
          <h5 class="text-uppercase">RESOURCES</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-decoration-none text-light fw-light">Blog</a></li>
            <li><a href="#" class="text-decoration-none text-light fw-light">FAQs</a></li>
            <li><a href="#" class="text-decoration-none text-light fw-light">Privacy Policy</a></li>
            <li><a href="#" class="text-decoration-none text-light fw-light">Terms of Service</a></li>
          </ul>
        </div>
        <div class="col-md-2 mb-3">
          <h5 class="text-white">CONTACT</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-decoration-none text-light fw-light">Email Us</a></li>
            <li><a href="#" class="text-decoration-none text-light fw-light">Support</a></li>
            <li><a href="#" class="text-decoration-none text-light fw-light">Careers</a></li>
            <li><a href="#" class="text-decoration-none text-light fw-light">Feedback</a></li>
          </ul>
        </div>
        <div class="col-md-2 mb-3">
          <h5 class="text-white">PAYMENT METHODS</h5>
          <ul class="list-unstyled d-flex gap-3">
            <li><a href="#" class="text-decoration-none text-light fw-light"><i class="fab fa-cc-visa fa-2x"></i></a></li>
            <li><a href="#" class="text-decoration-none text-light fw-light"><i class="fab fa-cc-mastercard fa-2x"></i></a></li>
            <li><a href="#" class="text-decoration-none text-light fw-light"><i class="fab fa-cc-paypal fa-2x"></i></a></li>
            <li><a href="#" class="text-decoration-none text-light fw-light"><i class="fab fa-cc-stripe fa-2x"></i></a></li>
          </ul>
        </div>
      </div>
      <hr class="border-secondary border-3">
      <div class="text-center text-secondary">
        &copy; 2024 Mariyam. All rights reserved.
      </div>
    </div>
  </footer>