<link rel="stylesheet" href="/styles/header.css">


<header>
    <div class="container-fluid p-0">
        <p class="offer pt-1 pb-1 mb-0">Get 25% OFF on your first order. <span>Order Now</span> </p>
    </div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="logo-container">
                <img src="/images/JAZ-PERFUME.jpg" alt="" class="logo_image">
                <a class="navbar-brand pt-3" href="/">PERFUMES</a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/all-products">Shop</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Category
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Eau De Parfum</a></li>
                            <li><a class="dropdown-item" href="#">Concentrated</a></li>
                            <li><a class="dropdown-item" href="#">Deodorants</a></li>
                            <li><a class="dropdown-item" href="#">Body Mist</a></li>
                            <li><a class="dropdown-item" href="#">Dakhoon</a></li>
                            <li><a class="dropdown-item" href="#">Combo</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact us</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <div class="input-group search-input">
                        <span class="input-group-text bg-white border-end-0">
                            <i class="bi bi-search"></i>
                        </span>
                        <input class="form-control border-start-0" type="search" placeholder="Search"
                            aria-label="Search">
                    </div>
                </form>
                <div class="d-flex">
                   
                    <div>
                        <a href="/cart">
                            <i class="bi bi-cart4 px-2 fs-3 text-secondary"></i>
                        </a>
                        <a href="/profile">
                            <i class="bi bi-person-circle px-2 fs-4 text-secondary"></i>
                        </a>
                    </div>
                          
                </div>
            </div>
        </div>
    </nav>


</header>

